<p>cart works!</p>
<div class="container">
    <h2>Carrito de Compras</h2>
    <div *ngIf="cart.length === 0">Tu carrito está vacío</div>
    <div *ngFor="let product of cart">
        <div>{{ product.name }}</div>
        <div>{{ product.price | currency }}</div>
    </div>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
    <label for="name">
      Nombre
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
        Dirección
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Enviar</button>


</form>
