    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="p-4">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" type="text" formControlName="name" class="form-control">
      </div>
    
      <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input id="address" type="text" formControlName="address" class="form-control">
      </div>
    
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    