<!----------Cabezera de la pagina------------>
<!-- <app-header></app-header> -->
<!----------Cuerpo de la pagina detalles del producto a Comprar------------>
<section class="py-2">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img class="card-img-top img-fluid" [src]="getFullImageUrl(product?.photoPath ?? '')" [alt]="product?.name" style="height: 200px; width: auto;"/>
        </div>
        <div class="col-md-6">
          <div class="mb-1 text-muted">Categoria: {{product?.category?.name ?? 'Categoría no disponible'}}</div>
          <h1 class="display-5 fw-bolder">{{ product?.name }}</h1>
          <div class="fs-5 mb-5">
            <span class="fw-bold">€{{product?.price }}</span>
          </div>
          <p class="lead">{{product?.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="badge bg-secondary">Stock: {{product?.stock }}</span>
            <button class="btn btn-dark" type="button"
              [disabled]="!product || product.stock === 0"
              (click)="product && addToCart(product)">
              Añadir al carrito
            </button>
          </div>
          <span *ngIf="product?.stock === 0" class="text-danger">No hay más stock disponible.</span>
        </div>
      </div>
    </div>
  </section>
  

<!-----SECCION DE MAS PRODUCTOS -->

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Productos relacionados</h2>
        <div class="product-carousel">
            <div class="product-item" *ngFor="let product of products" (click)="loadSelectedProduct(product.id)">
                <div class="card h-100">
                    <img class="card-img-top" [src]="getFullImageUrl(product.photoUrl)" [alt]="product.name" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <span *ngIf="product.price; else regularPrice">
                              <!-- Aumentamos el precio original en un 10% y lo mostramos tachado -->
                              <span class="price-original">{{ (product.price * 1.1).toFixed(2) }} €</span>
                              <!-- El precio actual se muestra en rojo y más grande -->
                              <span class="price-current">{{ product.price }} €</span>
                          </span>
                          <ng-template #regularPrice>
                              <span class="price-current">{{ product.price }} €</span>
                          </ng-template>
                        </div> 
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <!-- <a class="btn btn-outline-dark mt-auto" [routerLink]="['/product', product.id]">Ver opciones</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 


        <!-- Footer-->
        <!-- <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy;  WebsiteGeffrey 2024</p></div>
        </footer> -->


<!-- 
<form (submit)="onSubmit()">
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button type="submit">Subir Imagen</button>
  </form> -->