.card-img-top {
    width: 100%; /* Asegura que la imagen cubra el ancho del contenedor */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  }
/*   
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
  } */

/* Estilos para el contenedor principal con Flexbox */
.filters-search-container {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 1rem; /* Espacio entre los elementos */
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
  }
  
  /* Estilos para el div de filtros */
  .filters {
    /* background-color: #f8f9fa;
    border: 1px solid #ced4da; */
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem;
  }
  
  /* Estilos para el select dentro de filters */
  .filters select {
    font-size: 1rem;
    color: #495057;
    border: none; /* Elimina el borde para que se integre con el div */
    background-color: transparent; /* Fondo transparente */
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    height: calc(2.25rem + 2px);
  }
  
  /* Estilos para la búsqueda */
  .search input {
    font-size: 1rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
  }
  
 