<!-- categorias.component.html -->
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5" *ngIf="category">
      <h2 class="text-center mb-5">{{ category.name }}</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- Bucle para mostrar los productos de la categoría seleccionada -->
        <div class="col mb-5" *ngFor="let product of category.products | paginate: {itemsPerPage: 8, currentPage: p}">
          <div class="card h-100">
            <!-- Imagen del producto -->
            <img class="card-img-top" [src]="getFullImageUrl(product.photoPath)" [alt]="product.name" />
            <!-- Detalles del producto -->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Nombre del producto -->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Precio del producto -->
                {{ product.price | currency:'EUR' }}
              </div>
            </div>
            <!-- Acciones del producto -->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/app-user/product', product.id]">Ver detalles</a></div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </section>
  
  <!-- categorias.component.html  OKokOKOK-->
